.car-selection::-webkit-scrollbar {
    display: none;
}

.chat-container::-webkit-scrollbar{
display: none;
}

.car-one {
    transition: all 0.2s ease-in-out;
}
.car-one:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.ping {
    --uib-size: 50px;
    --uib-speed: 1.5s;
    --uib-color: #0058bd;
    position: relative;
    height: var(--uib-size);
    width: var(--uib-size);
   }
   
   .ping::before,
   .ping::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: var(--uib-color);
    animation: pulse7132 var(--uib-speed) linear infinite;
    transform: scale(0);
    opacity: 0;
   }
   
   .ping::after {
    animation-delay: calc(var(--uib-speed) / -2);
   }
   
   @keyframes pulse7132 {
    0% {
     transform: scale(0);
     opacity: 1;
    }
   
    100% {
     transform: scale(1);
     opacity: 0;
    }
   }


   .loader {
  width: 44.8px;
  height: 44.8px;
  position: relative;
  transform: rotate(45deg);
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50% 50% 0 50%;
  background: #0000;
  background-image: radial-gradient(circle 11.2px at 50% 50%,#0000 94%, #ff4747);
}

.loader:after {
  animation: pulse-ytk0dhmd 1s infinite;
  transform: perspective(336px) translateZ(0px);
}

@keyframes pulse-ytk0dhmd {
  to {
    transform: perspective(336px) translateZ(168px);
    opacity: 0;
  }
}
  


////////////////


.loader2 {
  width: 65px;
  height: 65px;
  border: 8px solid #ee9b00a6;
  border-radius: 50px;
  position: relative;
 }
 
 .loader2 span {
  display: block;
  background: #ee9b00;
 }
 
 .loader2 .hour ,
 .loader2 .min {
  width: 6px;
  height: 22px;
  border-radius: 50px;
  position: absolute;
  top: 24.5px;
  left: 21px;
  animation: load9243 6s linear infinite;
  transform-origin: top center;
 }
 
 .loader2 .min {
  height: 17px;
  animation: load9243 12s linear infinite;
 }
 
 .loader2 .circel {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  position: absolute;
  top: 19px;
  left: 19px;
 }
 
 @keyframes load9243 {
  0% {
   transform: rotate(0deg);
  }
 
  100% {
   transform: rotate(360deg);
  }
 }
