.form-error-p-tag-identification{
    font-size: 8pt;
    position: relative;
    top: -10px;   
    color: rgb(252, 51, 51); 
}

.form-error-p-tag-identification-image{
    font-size: 8pt;
    position: relative;
    bottom: -10px;   
    color: rgb(252, 51, 51); 
}