*{
    font-family: 'Satoshi', sans-serif;
}

body{
    background-color: #EEEFF3;
}

.registration-container{
    background-image: url("../../../../../public/images/ecbb8bfbb05ea1fdcf043ae1eb80adb2.jpg");
    background-size: cover;
}

.driver-registration-container{
    background-image: url("../../../../../public/images/03.-Snowy-Mint_1.jpg");
    background-size: cover;
}