*{
    font-family: 'Satoshi', sans-serif;
}

.registration-container{
    background-image: url("../../../../../public/images/bee1ece779b9eae59b57ae67d6f40a26.jpg");
    background-size: cover;
}

.driver-registration-container{
    background-image: url("../../../../../public/images/downloadhhh.jpg");
    background-size: cover;
}


.admin-login-container{
    background-image: url("../../../../../public/images/Photo by Aedrian on Unsplash.png");
    background-size: cover;
}