*{
    font-family: 'Satoshi', sans-serif;
}

body{
    background-color: #EEEFF3;
}

.registration-container{
    background-image: url("../../../../../public/images/bee1ece779b9eae59b57ae67d6f40a26.jpg");
    background-size: cover;
}

.driver-registration-container{
    background-image: url("../../../../../public/images/downloadhhh.jpg");
    background-size: cover;
}


.admin-login-container{
    background-image: url("../../../../../public/images/402135a07081a2933bcb668d1ac58fc0.jpg");
    background-size: cover;
}